@cx-spartacus:registry=https://cx-npm.demo.hybris.com/npmwebservices/
//cx-npm.demo.hybris.com/npmwebservices/:_authToken="6xC8qmRk6bD3CJnUCoDpcT04ouaGsraGY1pezlmbWVc="

always-auth=true
@spartacus:registry=https://common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm/
//common.repositories.cloud.sap/artifactory/api/npm/deploy-releases-hyperspace-npm/:_auth=QzUyMzEwNTU6QUtDcDhuSER6V1BOZ05TZDlKNGRQcUdxWGZOU1FnU3lDYVdlVXFMN1l5aXVEMWhEd21xeFRTV0pCVmRCMU5rdWQ1akNaeHNFSA==